<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <label><h1>quản lý bài đăng</h1></label>
    <div class="row mb-5">
        <form class="col-md-12" method="post">
            <div class="site-blocks-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>text</th>
                            <th>Remove</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for ( var i = 0; i < data1.length; i++) { %>
                        <tr>
                            <td>
                                <img style="width: 150px;" src="<%= data1[i].image %>" alt="Image" class="img-fluid">
                            </td>
                            <td><%= data1[i].text %></td>
                            <td><a href="/deleteText/<%= data1[i]._id %>" class="btn btn-primary btn-sm">X</a></td>
                            <td><a href="/editText/<%= data1[i]._id %>" class="btn btn-primary btn-sm">Edit</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <label><h1>quản lý ảnh</h1></label>
    <div class="row mb-5">
        <form class="col-md-12" method="post">
            <div class="site-blocks-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Remove</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < data2.length; i++) { %>
                        <tr>
                            <td class="product-thumbnail">
                                <img style="width: 150px;" src="<%= data2[i].image %>" alt="Image" class="img-fluid">
                            </td>
                            <td><a href="/deleteImage/<%= data2[i]._id %>" class="btn btn-primary btn-sm">X</a></td>
                            <td><a href="/editImage/<%= data2[i]._id %>" class="btn btn-primary btn-sm">Edit</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</body>
</html>